<!doctype html>
<html>

<head>
    <title>Job Board</title>
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>POST YOUR COMPANIES JOB LISTINGS</h1>
            <img src="https://d2qhfytuodj4jf.cloudfront.net/dev/wp-content/uploads/2014/06/10142347/job-board-mistakes.png"
                alt="">

            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span
                    class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span
                    class="fa fa-user"></span>Signup</a>

        </div>

    </div>
</body>

</html>