<!doctype html>
<html>

<head>
  <title>Bookmark Your Favorite Books</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet">
  <link href="css/heroic-features.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

</head>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">JOB BOARD</a>
    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


    <form action="/jobpost" method="POST">
      <h2>Add A Job Posting</h2>
      <input id="search" type="text"
        placeholder="Enter company name" name="company">
      <input id="search" type="text"
        placeholder="Enter Job Title" name="jobTitle">
      <input id="search" type="text"
        placeholder="Enter job Salary" name="salary">
      <input id="search" type="text"
        placeholder="Position Level, entry,junior senior...."
        name="level">
      <button type="submit">Submit</button>
    </form>
  </div>

  </div>
  <hr>




  <hr>
  <div class="container">

    <% for(var i=0; i<board.length; i++) {%>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"> <%= board[i].company %></div>
      <div class="card-body">
        <h5 class="card-title"> <%= board[i].jobTitle %></h5>
        <p class="card-text">
          <%= board[i].salary %></p>
        <p class="card-text">
          <%= board[i].level %> Level</p>
      </div>
      <button class="btn btn-primary trash">Remove Job
        Posting</button>
    </div>

    <% } %>
  </div>


  <script src="vendor/jquery/jquery.min.js">
  </script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js">
  </script>
  <script src="main.js"></script>

</body>

</html>